/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.ModulesProductsSpecialsBoostrapLine2Image {
    text-align: left;
}

.ModulesProductsSpecialsBoostrapLine2Title H3 {
    text-align: left;
    padding-left: 0.625rem;
    text-transform: uppercase;
}

.ModulesProductsSpecialsBoostrapLine2Title A {
    text-decoration: none;
}


.ModulesProductsSpecialsBoostrapLine2ShortDescription {
    text-align: left;
    padding-left: 0.625rem;
    font-weight: normal;
}


.ModulesProductsSpecialsBoostrapLine2TextPrice {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 30px;
    text-align: center;
}

.ModulesProductsSpecialsBoostrapLine2StockImage {
    text-align: center;
    padding-top: 0.625rem;
}

.ModulesProductsSpecialsBoostrapLine2FlashDiscount {
    padding-top: 0.625rem;
}


.ModulesProductsSpecialsBoostrapLine2ImageNewArrival {
    text-align: center;
    color: #7F736F;
    padding-top: 0.625rem;
}

.ModulesProductsSpecialsBoostrapLine2QuantityMinOrder {
    font-size: 9px;
    text-align: center;
    color: #7F736F;
    padding-top: 0.625rem;
}

.ModulesProductsSpecialsBoostrapLine2QuantityMinOrder {
    font-size: 9px;
    text-align: center;
    color: #7F736F;
    padding-top: 0.625rem;
}

.ModulesProductsSpecialsBoostrapLine2ViewDetails {
    text-align: center;
    padding-top: 0.3125rem;
}

.ModulesProductsSpecialsBoostrapLine2SubmitButton {
    text-align: center;
    padding-top: 0.3125rem;
}
