/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT

 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.ModuleIndexCategoriesImagesText h3 {
  color: #edac27;
  text-align: center;
  font-weight: normal;
}

.ModuleIndexCategoriesImagesText h3 A {
  color: #edac27;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
}

.ModuleIndexCategoriesImagesText a:hover {
}

.card-img-top.ModuleIndexCategoriesImages {
}