/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.ModulesProductsListingBoostrapLine1Image {
    text-align: left;
    padding-top: 0.625rem;
}

.ModulesProductsListingBoostrapLine1Title H3 {
    text-align: left;
    padding-left: 0.625rem;
    text-transform: uppercase;
    padding-top: 0.625rem;
}

.ModulesProductsListingBoostrapLine1Title A {
    text-decoration: none;
}


.ModulesProductsListingBoostrapLine1ShortDescription {
    text-align: left;
    padding-left: 0.625rem;
    font-weight: normal;
    padding-top: 0.625rem;
}


.ModulesProductsListingBoostrapLine1TextPrice {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 30px;
    text-align: center;
}

.ModulesProductsListingBoostrapLine1StockImage {
    text-align: center;
    padding-top: 0.625rem;
}


.ModulesProductsListingBoostrapLine1FlashDiscount {
    padding-top: 0.625rem;
}


.ModulesProductsListingBoostrapLine1Button {
    text-align: center;
}

.ModulesProductsListingBoostrapLine1ImageNewArrival {
    text-align: center;
    color: #7F736F;
    padding-top: 0.625rem;
}

.ModulesProductsListingBoostrapLine1QuantityMinOrder {
    font-size: 9px;
    text-align: center;
    color: #7F736F;
    padding-top: 0.625rem;
}

.ModulesProductsListingBoostrapLine1ProductsQuantityUnit {
    font-size: 9px;
    text-align: center;
    color: #7F736F;
    padding-top: 0.625rem;
}

.ModulesProductsListingBoostrapLine1ViewDetails {
    text-align: center;
}

.ModulesProductsListingBoostrapLine1SubmitButton {
    text-align: center;
}
