/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT

 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.ModulesProductsNewBoostrapLine1Image {
    text-align: left;
    padding-top: 0.625rem;
}

.ModulesProductsNewBoostrapLine1Title H3 {
    text-align: left;
    padding-left: 0.625rem;
    text-transform: uppercase;
    padding-top: 0.625rem;
}

.ModulesProductsNewBoostrapLine1Title A {
    text-decoration: none;
}


.ModulesProductsNewBoostrapLine1ShortDescription {
    text-align: left;
    padding-left: 0.625rem;
    font-weight: normal;
    padding-top: 0.625rem;
}


.ModulesProductsNewBoostrapLine1TextPrice {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 30px;
    text-align: center;
}

.ModulesProductsNewBoostrapLine1StockImage {
    text-align: center;
    padding-top: 0.625rem;
}


.ModulesProductsNewBoostrapLine1FlashDiscount {
    padding-top: 0.625rem;
}


.ModulesProductsNewBoostrapLine1QuantityMinOrder {
    font-size: 9px;
    text-align: center;
    color: #7F736F;
    padding-top: 0.625rem;
}

.ModulesProductsNewBoostrapLine1ProductsQuantityUnit {
    font-size: 9px;
    text-align: center;
    color: #7F736F;
    padding-top: 0.625rem;
}

.ModulesProductsNewBoostrapLine1ViewDetails {
    text-align: center;
}

.ModulesProductsNewBoostrapLine1SubmitButton {
    text-align: center;
}
