/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.content {
    padding: 1.5em;
    margin: 0 0 1.5em;
}

.colorGoogleMap {
    background: #eeeeee;
}

.roundedGoogleMap {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
}

.shadow {
    -moz-box-shadow: 0px 2px 4px #999;
    -webkit-box-shadow: 0px 2px 4px #999;
    box-shadow: 0px 2px 4px #999;
}

.itemGoogleMap {
    padding: 1em;
    margin: 0 0 2em;
}


div.ConstactUsGoogleMapCompany {
    padding-top: 0.625rem;
    font-weight: bold;
}

div.ConstactUsGoogleMapAnnexe {
    padding-top: 0.625rem;
    font-weight: bold;
}

div.ConstactUsGoogleMapAnnexe1 {
    padding-top: 0.625rem;
    font-weight: bold;
}