/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT

 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

div.socialFooter {
    background-color: #eee;
    text-align: center;
}

div.socialFooterboxHeading h2 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

div.socialFooterboxContents {
    text-align: center;
}