/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.module_footer_back_to_top {
    cursor: pointer;
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    display: none;
}