/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT

 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

div.moduleBlogContentTagText  {
}

span.moduleBlogContentTagBlog {
}

.moduleBlogContentTagBlog A {
  background-color: #eee;
  display: inline-block;
  padding: 0.25rem 6px;
  margin-bottom: 0.625rem;
  color: #555;
  vertical-align: middle;
  border-radius: 0.25rem;
  max-width: 100%;
  line-height: 1.375rem;
  cursor: text;
  text-decoration: underline;
}