/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT

 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

div.moduleBlogContentName, span.moduleBlogContentName h1 {
  font-size: 1.5625rem;
}

.moduleBlogContentName A {
  color: #682b0e;
  text-decoration: none;
}
