/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT

 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.ModulesShoppingCartproductsListingInfoFreeShipping {
}

.ModulesShoppingCartproductsListingInfoFreeShippingText {
    font-weight: bold;
}

.ModulesShoppingCartProductsListingInfoFreeShippingPrice {
    font-weight: bold;
    color: #990000;
}
