/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

/*
***************************
résolution 320
 ****************************/

@media (max-width: 31.25rem) {
    div.shoppingCartInformationSave {
        font-size: xx-small;
    }

    p.shoppingtextAlternativeCheckout {
        font-size: xx-small;
    }


    table.tableShoppingCartHeading {
        font-size: xx-small !important;
    }

    table.tableShoppingCartContent {
        font-size: xx-small !important;
    }
}


/***************************
résolution 360
 ****************************/

@media (min-width: 31.25rem) and (max-width: 360px) {
    div.shoppingCartInformationSave {
        font-size: xx-small;
    }

    p.shoppingtextAlternativeCheckout {
        font-size: xx-small;
    }


    table.tableShoppingCartHeading {
        font-size: xx-small !important;
    }

    table.tableShoppingCartContent {
        font-size: xx-small !important;
    }
}


/***************************
résolution 480
 ****************************/

@media (min-width: 360px) and (max-width: 480px) {
    div.shoppingCartInformationSave {
        font-size: xx-small;
    }

    p.shoppingtextAlternativeCheckout {
        font-size: xx-small;
    }

    table.tableShoppingCartHeading {
        font-size: xx-small !important;
    }

    table.tableShoppingCartContent {
        font-size: xx-small !important;
    }
  }

/***************************
résolution 533
 ****************************/

@media (min-width: 480px) and (max-width: 533px) {
    div.shoppingCartInformationSave {
        font-size: xx-small;
    }

    p.shoppingtextAlternativeCheckout {
        font-size: xx-small;
    }

    table.tableShoppingCartHeading {
        font-size: xx-small !important;
    }

    table.tableShoppingCartContent {
        font-size: xx-small !important;
    }
}


/***************************
résolution 600
 ****************************/

@media (min-width: 533px) and (max-width: 600px) {
    div.shoppingCartInformationSave {
        font-size: xx-small;
    }

    p.shoppingtextAlternativeCheckout {
        font-size: xx-small;
    }

    table.tableShoppingCartHeading {
        font-size: xx-small !important;
    }

    table.tableShoppingCartContent {
        font-size: xx-small !important;
    }
}

/***************************
résolution 640
 ****************************/

@media (min-width: 600px) and (max-width: 640px) {
    div.shoppingCartInformationSave {
        font-size: xx-small;
    }

    p.shoppingtextAlternativeCheckout {
        font-size: xx-small;
    }

    table.tableShoppingCartHeading {
        font-size: xx-small !important;
    }

    table.tableShoppingCartContent {
        font-size: xx-small !important;
    }
}


/***************************
résolution 800
 ****************************/

@media (min-width: 640px) and (max-width: 800px) {
    div.shoppingCartInformationSave {
        font-size: x-small;
    }

    p.shoppingtextAlternativeCheckout {
        font-size: x-small;
    }

    table.tableShoppingCartHeading {
        font-size: x-small !important;
    }

    table.tableShoppingCartContent {
        font-size: x-small !important;
    }
}