/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT

 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

div.photoset-row.cols-1 {
    height: 250px !important;
}

#cboxOverlay {
    background: #fff !important;
    opacity: 0.5 !important;
}

#cboxTopLeft, #cboxTopRight, #cboxBottomLeft, #cboxBottomRight {
    background: #fff !important;
}

#cboxTopCenter, #cboxBottomCenter, #cboxMiddleRight, #cboxMiddleLeft {
    background: #fff !important;
}