/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT

 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.ModuleProductsInfoCrossSellContainer {
    padding-left: 0rem;
    padding-top: 0.625rem;
    padding-right: 0rem;
}


div.ModuleProductsInfoInfoCrossSell, span.ModuleProductsInfoInfoCrossSell h3 {
    padding-left: 0.875rem;
    text-align: left;
    padding-bottom: 0.625rem;
}


