/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT

 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.ModuleProductsInfoAlsoPurchasedContainer {
    padding-left: 0rem;
    padding-top: 0.625rem;
    padding-right: 0rem;
}


div.ModuleProductsInfoAlsoPurchasedHeading, span.ModuleProductsInfoAlsoPurchasedHeading h2 {
    font-size: 1.25rem;
    color: #753d22;
    padding-left: 0.625rem;
    text-align: left;
    padding-bottom: 0.625rem;
}