/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT

 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

div.moduleProductsInfoFlashDiscount, span.moduleProductsInfoFlashDiscount h3 {
  color: #c4071b;
  font-size: 0.9375rem;
  font-weight: bold;
}