/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT

 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

/******************************
customization slider
*******************************/

#slider4, #slider4 li {
  width:auto;
  overflow:hidden;
  height:100%;
  padding-top: 0.625rem;
}

#slider4 {
    width:auto;
}

#slider4 img{
    border:none;
}

.boxContainerProductsPurchasedSudoSlider {
  font-weight: normal;
  margin-bottom: 0;
  padding-bottom: 0.3125rem;
}


div.productsInfoPurchasedSudoSliderproductsTitle, span.productsInfoPurchasedSudoSliderProductsTitle h2 {
  font-size: 1.25rem;
  color: #753d22;
  padding-left: 0.625rem;
  text-align:left;
  padding-bottom: 0.625rem;
}


.productsInfoPruchasedSudoSliderBorder {
  border: 1px solid #dbd5d5;
  height:269px;
}

.productsInfoPurchasedSudoSliderTitle {
  text-align:center;
}

.productsInfoPurchasedSudoSliderTextPrice {
  font-weight: bold;
  text-align:center;
  padding-top: 0.625rem;
}