/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

#piGalleryColorBox img {
    max-width: 250px;
    height: auto;
}


.piGalleryColorBox {
    float: right;
    width: 250px !important;
    margin-bottom: 1.25rem;
}


div.productsInfoAroundImageColorBoxColorBox {
    /*
      border-radius: 8px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.27);
      -moz-box-shadow:    2px 2px 5px rgba(0, 0, 0, 0.27);
      width:100%;
    */
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
}


/********************************
// Ticker ImageColorBox products
********************************/
.ModulesProductsInfoBootstrapTickerNewImageColorBox {
    font: 700 10px/8px Arial, Helvetica, sans-serif;
    color: #000;
    background: #B2D5EE none repeat scroll 0% 0%;
    text-transform: uppercase;
    padding: 6px 0px 7px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
    width: 80px;
    text-align: center;
    display: block;
    position: relative;
    left: 0.63rem;
    top: 2.75rem;
    transform: rotate(-45deg);
}

.ModulesProductsInfoBootstrapTickerSpecialImageColorBox {
    font: 700 10px/8px Arial, Helvetica, sans-serif;
    color: #FFF;
    background: #E6290B none repeat scroll 0% 0%;
    text-transform: uppercase;
    padding: 6px 0px 7px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
    width: 80px;
    text-align: center;
    display: block;
    position: relative;
    left: 0.63rem;
    top: 2.75rem;
    transform: rotate(-45deg);
}

span.ModulesProductsInfoBootstrapTickerFavoriteImageColorBox {
    font: 700 10px/8px Arial, Helvetica, sans-serif;
    color: #FFF;
    background: #449D44 none repeat scroll 0% 0%;
    text-transform: uppercase;
    padding: 6px 0px 7px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
    width: 80px;
    text-align: center;
    display: block;
    position: relative;
    left: 0.63rem;
    top: 2.75rem;

    transform: rotate(-45deg);
}

#piGal {
    float: right;
    width: 300px;
    margin-bottom: 1.25rem;

}


#piGal img {
    max-width: 300px;
    height: auto;
}

.thumbs {
    list-style-type: none;
}


span.ModulesProductsInfoBootstrapTickerFeaturedImageColorBox {
    font: 700 10px/8px Arial, Helvetica, sans-serif;
    color: #FFF;
    background: #025AA5 none repeat scroll 0% 0%;
    text-transform: uppercase;
    padding: 6px 0px 7px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
    width: 80px;
    text-align: center;
    display: block;
    position: relative;
    left: 0.63rem;
    top: 2.75rem;
    transform: rotate(-45deg);
}


/********************************
// Ticker pourcenatge
********************************/
span.ModulesProductsInfoBootstrapTickerPourcentageImageColorBox {
    font: 700 14px/12px Arial, Helvetica, sans-serif;
    color: #FFF;
    background: #FF6600 none repeat scroll 0% 0%;
    text-transform: uppercase;
    padding: 0.375rem 0px 0.4375rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
    width: 3.125rem;
    text-align: center;
    display: block;
    float: right;
    position: relative;
    top: 1rem;
    right: 1rem;
}