/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT

 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.card.boxeContainerAdvertisement2 {
    margin-top: 0.625rem;
    border-radius: 0.25rem;
}

.card-img-top.boxeBannerContentsAdvertisement2 {
    text-align: center;
}

.card-header.boxeHeadingAdvertisement2 {


    padding-left: 3px;
    overflow: hidden;
    font-weight: normal;
}

.card-title.boxeTitleAdvertisement2 {
    overflow: hidden;
    padding: 3px;
    text-transform: uppercase;
    font-size: 0.6875rem;
    font-weight: normal;
}


.card-text.boxeContentsAdvertisement2 {
    overflow: hidden;
    font-size: 0.75rem;
    text-align: center;
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
    padding-right: 0.1rem;
}

.card-footer.boxeBottomAdvertisement2 {
    border-top: none;
    padding: 0rem 0rem;
}


.card-block.boxeContentArroundAdvertisement2 {
    overflow: hidden;
    padding-right: 0.1rem;
    padding-left: 0.1rem;
}

.card-img-top.boxeAdvertisement2 {
}
