/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT

 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.card.boxeContainerBlogCategories {
  margin-top: 0.625rem;
  border-radius: 0.25rem;
}

.card-img-top.boxeBannerContentsBlogCategories {
  text-align: center;
}

.card-header.boxeHeadingBlogCategories {

  padding-bottom: 0.3125rem;
  padding-left: 3px;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: normal;
}

.card-header.boxeHeadingBlogCategories A {
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: normal;
}

.card-title.boxeTitleBlogCategories  {
  overflow: hidden;
  padding: 3px;
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: normal;
}

.card-title.boxeTitleBlogCategories A {
}

span.boxeTitleBlogCategories {
  font-size: 0.375rem;
}

.card-text.boxeBlogCategories {
  overflow: hidden;
  font-size: 0.75rem;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  padding-right:0.1rem;
  text-transform: uppercase;
}


.card-text.boxeContentBlogCategories A {
}


.card-text.boxeContentBlogCategories a:hover {
  text-decoration: none;
}

.card-text.boxeContentBlogCategories > li {
}

.card-text.boxeContentBlogCategories li {
}



.card-footer.boxeBottomContentsBlogCategories {
  border-top: none;
  padding: 0rem 0rem;
}

.card-block.boxeContentArroundBlogCategories {
  overflow: hidden;
  padding-right:0.1rem;
  padding-left:0.1rem;
}

.card-img-top.boxeImageBlogCategories {
}

