/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT

 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.boxeContainerCategoriesTree {
    padding-top: 0.625rem;
}

.boxeCategoriesBannerTree {
    text-align: center;
}

.boxeHeadingCategoriesTree {


    padding-left: 3px;
    background-color: #7f736f;
    border: 1px solid #7f736f;
    color: #fff;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 0.6875rem;
    font-weight: normal;
}

.boxeCategoriesTree {
    background-color: #f5f5f5;
    border: 1px solid #7f736f;
    color: #636363;
    overflow: hidden;
    padding: 3px;
    font-size: 0.75rem;
}

.tree, .tree ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.tree ul {
    margin-left: 1em;
    position: relative
}

.tree ul ul {
    margin-left: .9em
}

.tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid
}

.tree li {
    margin: 0;
    padding: 0 1em;
    line-height: 2em;
    color: #636363;
    font-weight: 700;
    position: relative
}

.tree ul li:before {
    content: "";
    display: block;
    width: 0.625rem;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    left: 0
}

.tree ul li:last-child:before {
    background: #f5f5f5;
    height: auto;
    top: 1em;
    bottom: 0
}

.indicator {
    margin-right: 0.3125rem;
}

.tree li a {
    text-decoration: none;
    color: #636363;
}

.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color: #636363;
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0;
}