/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.moduleFrontPageCategoriesText h3 {
  color: #edac27;
  text-align: center;
  font-weight: normal;
}

.moduleFrontPageCategoriesText h3 A {
  color: #edac27;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
}

.moduleFrontPageCategoriesText a:hover {
  background-color: #eee;
}


.ModulesFrontPageBoostrapCategoriesImages {
  text-align: center;
}